---
layout: basic-layout
---
<div class="container bodyContent" id="databases-AZ">
    <div class="row nobottom">
        <div class="col-xs-12">
            <h2><a name="top" class="be-plain">Research Databases</a></h2>

        </div>
    </div>
    <div class="row notop">
        <div class="col-xs-12">
            <ul class="actual-az-links">
                <li><a href="#A">A</a></li>
                <li><a href="#B">B</a></li>
                <li><a href="#C">C</a></li>
                <li><a href="#D">D</a></li>
                <li><a href="#E">E</a></li>
                <li><a href="#F">F</a></li>
                <li><a href="#G">G</a></li>
                <li><a href="#H">H</a></li>
                <li><a href="#I">I</a></li>
                <li><a href="#J">J</a></li>
                <!-- <li>K</li> -->
                <li><a href="#L">L</a></li>
                <li><a href="#M">M</a></li>
                <li><a href="#N">N</a></li>
                <li><a href="#O">O</a></li>
                <li><a href="#P">P</a></li>
                <!-- <li>Q</li> -->
                <li><a href="#R">R</a></li>
                <li><a href="#S">S</a></li>
                <li><a href="#T">T</a></li>
                <li><a href="#U">U</a></li>
                <li><a href="#V">V</a></li>
                <li><a href="#W">W</a></li>
                <!-- <li>X</li> -->
                <!-- <li>Y</li> -->
                <!-- <li>Z</li> -->

            </ul>
        </div><div class="col-xs-12 ">
        <select name="Databases by content type" id="" class="databases-selects">
        <option value="By subject">By Content Type</option>
        </select>
        <select name=" Databases by subject" id="" class="databases-selects">
        <option value="By subject">By Subject</option>
        </select></div>
    </div>
    <div class="row notop">
        <section class="col-xs-12 col-lg-9">

            <!-- <h3>A-Z</h3> -->

            <ul>
                <li class="alphabet-li"> <a name="A" class="alpha-anchor"> A</a></li>
                <li class="database-li">
                    <!-- <h5><a href="">GeoRef</a><i class="fas fa-external-link-alt"></i></h5> -->
                    <h5><a href="">AAAS Science</a><i class="fas fa-link"></i></h5>
                    <p class="database-description">

                        Science has been at the center of important scientific discovery since its founding in
                        1880—with seed money from Thomas Edison. Today, Science continues to publish the very best in
                        research across the sciences, with articles that consistently rank among the most cited in the
                        world.</p>
                    <ul class="database-list-resourcetype">
                        <li>Scholarly Journals</li>
                        <li>eJournals</li>
                        <li>Full-Text</li>
                        <li>Abstracts</li>
                        <!-- <li></li> -->
                    </ul>
                </li>

                <li class="database-li">
                    <!-- <h5><a href="">GeoRef</a><i class="fas fa-external-link-alt"></i></h5> -->
                    <h5><a href="">Academic Search Complete</a><i class="fas fa-link"></i></h5>
                    <p class="database-description">

                        Academic Search Complete contains more than 8,500 full-text periodicals, including more than
                        7,300 peer-reviewed journals. In addition to full text, this database offers indexing and
                        abstracts for more than 12,500 journals and a total of more than 13,200 publications including
                        monographs, reports, conference proceedings, etc. </p>
                    <ul class="database-list-resourcetype">
                        <li>Scholarly Journals</li>
                        <li>Books</li>
                        <li>Indexing</li>
                        <li>Abstracts</li>
                        <!-- <li></li> -->
                    </ul>
                </li>
                
                <li class="alphabet-li"> <a name="B" class="alpha-anchor">B</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="C" class="alpha-anchor">C</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="D" class="alpha-anchor">D</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="E" class="alpha-anchor">E</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="F" class="alpha-anchor">F</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="G" class="alpha-anchor">G</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="database-li">
                    <!-- <h5><a href="">GeoRef</a><i class="fas fa-external-link-alt"></i></h5> -->
                    <h5><a href="">GeoRef</a><i class="fas fa-link"></i></h5>
                    <p class="database-description">

                        GeoRef, produced by the American Geological Institute, is a comprehensive geosciences database
                        containing over 2.8 million bibliographic records to the geoscience literature of the world.
                        Over 3,500 journals are reviewed for indexing in the GeoRef database as well as books, maps,
                        government reports, conference papers, and theses and dissertations.</p>
                    <ul class="database-list-resourcetype">
                        <li>Scholarly Journals</li>
                        <li>Books</li>
                        <li>Indexing</li>
                        <li>Abstracts</li>
                        <!-- <li></li> -->
                    </ul>
                </li>
                <li class="alphabet-li"> <a name="H" class="alpha-anchor">H</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="I" class="alpha-anchor">I</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="J" class="alpha-anchor">J</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="L" class="alpha-anchor">L</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="M" class="alpha-anchor">M</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"> <a name="N" class="alpha-anchor">N</a><span class="back-to-top"><a href="#top"><i
                    class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="O" class="alpha-anchor">O</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="database-li">
                    <!-- <h5><a href="">GeoRef</a><i class="fas fa-external-link-alt"></i></h5> -->
                    <h5><a href="">Opposing Viewpoints in Context</a><i class="fas fa-link"></i></h5>
                    <p class="database-description">

                        An engaging online experience for those seeking contextual information and opinions on hundreds
                        of today's hottest social issues. Drawing on the acclaimed Greenhaven Press series, the
                        solution features continuously updated viewpoints, topic overviews, full-text magazines,
                        academic journals, news articles, primary source documents, statistics, images, videos, audio
                        files and links to vetted websites organized into a user-friendly portal experience.</p>
                    <ul class="database-list-resourcetype">
                        <li>Scholarly Journals</li>
                        <li>Magazines</li>
                        <li>Full-text</li>
                        <li>Newspapers</li>
                        <li>Video</li>
                        <li>Audio</li>
                    </ul>
                </li>
                <li class="alphabet-li"id="P"><a name="P" class="alpha-anchor">P</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="R" class="alpha-anchor">R</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="S" class="alpha-anchor">S</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="T" class="alpha-anchor">T</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="U" class="alpha-anchor">U</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="V" class="alpha-anchor">V</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
                <li class="alphabet-li"><a name="W" class="alpha-anchor">W</a><span class="back-to-top"><a href="#top"><i
                                class="fas fa-arrow-up"></i> top</a></span></li>
          
                <li class="database-li">
                    <!-- <h5><a href="">GeoRef</a><i class="fas fa-external-link-alt"></i></h5> -->
                    <h5><a href="">World History Collection</a><i class="fas fa-link"></i></h5>
                    <p class="database-description">

                        World History Collection provides access to scholarly journals and magazines useful to both
                        novice historians as well as advanced academic researchers. The database offers balanced
                        coverage of events in world history and scholarly work being established in the field.</p>
                    <ul class="database-list-resourcetype">
                        <li>Scholarly Journals</li>
                        <li>Magazines</li>
                        <li>Full-text</li>
                        <li>Abstracts</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="col-xs-12 col-lg-3 databases-sidebar"> <div class="get-research-help-sidebar">
            <!-- <h3>Get Research Help</h3> -->
            {%include research-help-greenlong-narrow.html%}{%include quick-links-greeny-new.html%}
        </div></section>
    </div>
</div>