---
layout: databases-pages
---
<!-- TODO: remember that for drupal the js needs to be inline here and not separate -->
<h2>Research Databases</h2>
<div class="row notop">
    <div class="col-xs-12">
      <ul id="nav-selects">
        <li>
          <select name="Browse Alphabetically" id="databasesAlphabetSelect" class="element-item">
            <option value="Alphabetically">Browse Alphabetically</option>
        
            <option value="#A">A</option>
            <option value="#B">B</option>
            <option value="#C">C</option>
            <option value="#D">D</option>
            <option value="#E">E</option>
            <option value="#F">F</option>
            <option value="#G">G</option>
            <option value="#H">H</option>
            <option value="#I">I</option>
            <!-- <option value="#J">J</option> -->
            <!-- <option value="#K">K</option> -->
            <option value="#L">L</option>
            <option value="#M">M</option>
            <option value="#N">N</option>
            <option value="#O">O</option>
            <option value="#P">P</option>
            <!-- <option value="#Q">Q</option> -->
            <option value="#R">R</option>
            <option value="#S">S</option>
            <option value="#T">T</option>
            <option value="#U">U</option>
            <option value="#V">V</option>
            <option value="#W">W</option>
            <!-- <option value="#X">X</option> -->
            <!-- <option value="#Y">Y</option> -->
            <!-- <option value="#Z">Z</option> -->
            
         
        </select>
        </li>

        <li>
          {%include browse-subject-select.html%}
        </li>
      <script>
        document.getElementById("databasesAlphabetSelect").onchange = function() {
            if (this.selectedIndex!==0) {
                window.location.href = this.value;
                this.selectedIndex = 0;
            }        
        };
    </script>
      <!-- <ul class="actual-az-links">
              <li><a href="#A">A</a></li>
              <li><a href="#B">B</a></li>
              <li><a href="#C">C</a></li>
              <li><a href="#D">D</a></li>
              <li><a href="#E">E</a></li>
              <li><a href="#F">F</a></li>
              <li><a href="#G">G</a></li>
              <li><a href="#H">H</a></li>
              <li><a href="#I">I</a></li>
              <li><a href="#J">J</a></li>
               <li>K</li>  
              <li><a href="#L">L</a></li>
              <li><a href="#M">M</a></li>
              <li><a href="#N">N</a></li>
              <li><a href="#O">O</a></li>
              <li><a href="#P">P</a></li>
               <li>Q</li>  
              <li><a href="#R">R</a></li>
              <li><a href="#S">S</a></li>
              <li><a href="#T">T</a></li>
              <li><a href="#U">U</a></li>
              <li><a href="#V">V</a></li>
              <li><a href="#W">W</a></li> -->
              <!-- <li>X</li> -->
              <!-- <li>Y</li> -->
              <!-- <li>Z</li> -->
          <!-- </ul> -->
  
        </div>
      <div class="col-xs-12 ">
          <!-- <select name="Databases by content type" id="" class="databases-selects">
              <option value="By subject">By Content Type</option>
          </select> -->
        
      </ul></div>  
       <div class="col-xs-12">
         <p style="margin: 20px 0 10px;">
           Filter by Content Type: 
         </p>
         <div class="button-group filters-button-group" id="content-type-filters">
          <button class="button is-checked" data-filter="*">show all</button>
           <!-- <ul id="content-type-filters"></ul> -->
         </div>
       </div>
</div>

<div class="row notop">
    <section class="col-xs-12 for-filtering">

    
        <ul>
            <li class="alphabet-li element-item">
                 <a name="A" class="alpha-anchor"> A</a>
                </li>
            <ul name="AA"></ul>
          
            
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"><i  class="fas fa-arrow-up"></i> top</a></span> <a name="B" class="alpha-anchor">B</a></li>
                            <ul name="BB"></ul>

            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span> <a name="C" class="alpha-anchor">C</a></li>
                            <ul name="CC"></ul>

            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="D" class="alpha-anchor">D</a></li>
                            <ul name="DD"></ul>

            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="E" class="alpha-anchor">E</a></li>
                            <ul name="EE"></ul>

            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="F" class="alpha-anchor">F</a></li>
                            <ul name="FF"></ul>

            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span> <a name="G" class="alpha-anchor">G</a></li>
                            <ul name="GG"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span> <a name="H" class="alpha-anchor">H</a></li>
                            <ul name="HH"></ul>
            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="I" class="alpha-anchor">I</a></li>
                            <ul name="II"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span> <a name="J" class="alpha-anchor">J</a></li>
                            <ul name="JJ"></ul>
            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="L" class="alpha-anchor">L</a></li>
                            <ul name="LL"></ul>
            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="M" class="alpha-anchor">M</a></li>
                            <ul name="MM"></ul>
            <li class="alphabet-li element-item"> <span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="N" class="alpha-anchor">N</a></li>
                            <ul name="NN"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="O" class="alpha-anchor">O</a></li>
                            <ul name="OO"></ul>
             
            <li class="alphabet-li element-item" id="P"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="P" class="alpha-anchor">P</a></li>
                            <ul name="PP"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="R" class="alpha-anchor">R</a></li>
                            <ul name="RR"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="S" class="alpha-anchor">S</a></li>
                            <ul name="SS"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="T" class="alpha-anchor">T</a></li>
                            <ul name="TT"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="U" class="alpha-anchor">U</a></li>
                            <ul name="UU"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="V" class="alpha-anchor">V</a></li>
                            <ul name="VV"></ul>
            <li class="alphabet-li element-item"><span class="back-to-top"><a href="#top"> 
<i class="fas fa-arrow-up"></i> top</a></span><a name="W" class="alpha-anchor">W</a></li>
                            <ul name="WW"></ul>

    </section>
  
</div>
 
{%include firebase-setup.html%}
 

        <!-- Base isotope and custom init for content type filtering -->
        <script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
        <script>
        // external js: isotope.pkgd.js

      </script>
        <script src="/js/query-for-AZ-db.js"></script>