---
title: Draft 1.1 - RMC Library
layout: basic-layout
---
<div class="container bodyContent">
   <div class="row nopadding">
       <div class="col-xs-12 col-md-5"  >{%include todays-hours-3.html%} </div>
       <div class="col-xs-12 col-md-7"  >{%include library-help-2-inline.html%}</div>
    </div>
    <div class="row notop">{%include info-pak-primo-long.html%}
        
        <div class="col-md-4 ">
            <div class="col-xs-12">
                {%include todays-hours-3.html%}
            </div>
            <div class="col-xs-12 ">
                {%include library-help-2.html%}
            </div>
                   </div>
    </div>
    <div class="row">
       <div class="col-lg-4">{%include quick-links-2.html%}</div> 
 

        {%include info-pak-square-databases.html%}</div>
</div>
