---
title: Draft 1.2 - RMC Library
layout: basic-layout
---
<div class="container bodyContent">
    <div class="row ">

        {%include info-pak-primo-long.html%}

        <div class="col-xs-12 col-sm-4">
            <div class="testing ">
                <div>
                    <div style="margin-bottom:2rem">
                        <h5>
                            <i class="far fa-clock "></i> Today's Hours:
                        </h5> <span class="todays-hours-actual-hours fake-indent">7:30am
                            - 11pm</span>
                    </div>
                    <div>
                        <h5>
                            <i class="far fa-question-circle"></i> Get&nbsp;Research&nbsp;Help:
                        </h5>
                        <div class="mt-5p"><span class="fake-indent"><i class="far fa-envelope"></i> <a style="text-decoration:none;color: inherit;"
                        href="mailto:library@rocky.edu">library@rocky.edu</a></span></div>
                      <!--   <div>|</div> -->
                        <div class="mt-5p"><span class="fake-indent"><i class="fas fa-phone"></i> 406-657-1087</span></div><!--  <div>|</div> -->
                        <div class="mt-5p"><span class="fake-indent"><i class="far fa-grin"></i> In person</span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="col-md-4"><div class="testing2">
            {%include quick-links-2.html%}
        </div></div> {%include info-pak-square-databases.html%}
    </div>
</div>