---
title: Draft 1.1 - RMC Library
layout: basic-layout
---
<div class="container bodyContent">
    <div class="row">{%include info-pak-primo-long.html%}
        
        <div class="col-md-5 col-md-offset-1">
            <div class="col-xs-12">
                {%include todays-hours-3.html%}
            </div>
            <div class="col-xs-12 col-md-6">
                {%include library-help-2.html%}
            </div>
            <div class="col-xs-12 col-md-6"><h3><i class="fas fa-external-link-alt"></i> Quick links</h3>
            <ul class="nopadding">
                    <li><a href="">Journal Search</a></li>
                    <li><a href="">Course Reserves</a></li>
                    <li><a href="">Citation Guides</a></li>
                    <li><a href="">Heritage Archives</a></li>
                    <li><a href="">Library Policies</a></li>
                    <li><a href="">Library Purchasing Requests</a></li>
                    <li><a href="">About the library</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row">{%include info-pak-square-databases.html%}</div>
</div>




 