<select name="Databases by subject" id="databsaesSelect" class=" ">
    <option value="By subject">Browse by subject</option>

    <option value="https://www.rocky.edu/academics/library/research-databases/art-databases">Art</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/aviation-databases">Aviation</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/biology-databases">Biology</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/business-and-accounting-databases">Business and Accounting</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/chemistry-databases">Chemistry</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/communication-studies-databases">Communication Studies</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/computer-science-databases">Computer Science</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/economics-databases">Economics</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/education-databases">Education</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/english-databases">English</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/environmental-science-databases">Environmental Science</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/environmental-studies-databases">Environmental Studies</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/geography-databases">Geography</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/geology-databases">Geology</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/health-and-human-performance-databases">Health and Human Performance</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/history-databases">History</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/mathematics-databases">Mathematics</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/music-databases">Music</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/occupational-therapy-databases">Occupational Therapy</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/philosophy-and-religious-studies-databases">Philosophy and Religious Studies</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/physician-assistant-studies-databases">Physician Assistant Studies</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/physics-databases">Physics</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/political-science-databases">Political Science</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/pre-law-databases">Pre-Law</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/pre-med-databases">Pre-Med</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/psychology-databases">Psychology</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/sociology-databases">Sociology</option>
    <option value="https://www.rocky.edu/academics/library/research-databases/theatre-arts-databases">Theatre Arts</option>
 




</select>


<script>
    document.getElementById("databsaesSelect").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
</script>
 