<select name="Databases by subject" id="databsaesSelect" class=" ">
    <option value="By subject">Browse by subject</option>

    <option value="/databases-by-subject/art-databases.html">Art</option>
    <option value="/databases-by-subject/aviation-databases.html">Aviation</option>
    <option value="/databases-by-subject/biology-databases.html">Biology</option>
    <option value="/databases-by-subject/business-and-accounting-databases.html">Business and Accounting</option>
    <option value="/databases-by-subject/chemistry-databases.html">Chemistry</option>
    <option value="/databases-by-subject/communication-studies-databases.html">Communication Studies</option>
    <option value="/databases-by-subject/computer-science-databases.html">Computer Science</option>
    <option value="/databases-by-subject/economics-databases.html">Economics</option>
    <option value="/databases-by-subject/education-databases.html">Education</option>
    <option value="/databases-by-subject/english-databases.html">English</option>
    <option value="/databases-by-subject/environmental-science-databases.html">Environmental Science</option>
    <option value="/databases-by-subject/environmental-studies-databases.html">Environmental Studies</option>
    <option value="/databases-by-subject/geography-databases.html">Geography</option>
    <option value="/databases-by-subject/geology-databases.html">Geology</option>
    <option value="/databases-by-subject/health-and-human-performance-databases.html">Health and Human Performance</option>
    <option value="/databases-by-subject/history-databases.html">History</option>
    <option value="/databases-by-subject/mathematics-databases.html">Mathematics</option>
    <option value="/databases-by-subject/music-databases.html">Music</option>
    <option value="/databases-by-subject/occupational-therapy-databases.html">Occupational Therapy</option>
    <option value="/databases-by-subject/philosophy-and-religious-studies-databases.html">Philosophy and Religious Studies</option>
    <option value="/databases-by-subject/physician-assistant-studies-databases.html">Physician Assistant Studies</option>
    <option value="/databases-by-subject/physics-databases.html">Physics</option>
    <option value="/databases-by-subject/political-science-databases.html">Political Science</option>
    <option value="/databases-by-subject/pre-law-databases.html">Pre-Law</option>
    <option value="/databases-by-subject/pre-med-databases.html">Pre-Med</option>
    <option value="/databases-by-subject/psychology-databases.html">Psychology</option>
    <option value="/databases-by-subject/sociology-databases.html">Sociology</option>
    <option value="/databases-by-subject/theatre-arts-databases.html">Theatre Arts</option>
 




</select>


<script>
    document.getElementById("databsaesSelect").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
</script>
 