<div id="databases-block-1">
    <h2>Databases</h2>
    <p class="heading-sub-text">Millions of articles at your fingertips!</p>
    <div class="flexy"><p class="library-pseudoheading">The Big Three:</p>
    <ul class="database-promo">
    <li>Proquest</li>
    <li>Academic OneFile</li>
    <li>Academic Search Complete</li>
    </ul></div>
    <div class="flexy">
        <p class="library-pseudoheading">Browse all 84:</p>
        <ul style="padding-left: 4.85rem;">
            <li>A to Z</li>
            <li>By subject: <select>
                <option value="">---</option>
                <option value="history">History</option>
                <option value="knitting">Knitting</option>
                <option value="cat-herding">Cat Herding</option>
              </select></li>
            <li></li>
        </ul>
    </div>
    <!-- <div class="row center">
    <div class="col-md-4 database-name">Proquest</div>
    <div class="col-md-4 database-name">Gale<br> Academic OneFile</div>
    <div class="col-md-4 database-name">EBSCO<br> Academic Search Complete</div>
</div> -->



</div>