<div class="index-content">
    <div class="container">
            <a href="#">
                <div class="col-lg-4 no-left">
                    <div class="card">
                        <img src="/img/131206_RMC_G0022826.jpg">
                        <h4>Heritage Archives</h4>
                        <p>Collecting, preserving, and providing access to the history of Rocky Mountain College and its antecedent institutions. </p>
                        <a href="#" class="blue-button">Visit the Archives</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img/MT topo map.jpg">
                        <h4>The Map Room</h4>
                        <p>Our map collection features hundreds of maps. Primarily topgraphic but also other and other maps!</p>
                        <a href="#" class="blue-button">Learn More</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img/programs-equestrian-03.jpg">
                        <h4>Equestrian Collection</h4>
                        <p>Books and journals supporting Rocky's Equestrian program and horse lovers throughout the Billings region.</p>
                        <a href="#" class="blue-button">View the Collection</a>
                    </div>
                </div>
            </a>

    </div>
    <div id="more-collections-enticement">
        <a href="">Explore all collections ></a>
    </div>
</div>