<div id="featured-special-collections-1" class="fancy-border-container">
    <h2>Special Collections</h2>
    <ul>
        <li><img src='https://placehold.it/150x150' alt=''/></li>
        <li><img src='https://placehold.it/150x150' alt=''/></li>
        <li><img src='https://placehold.it/150x150' alt=''/></li>
        <li>
            <figure><img src='https://placehold.it/150x150' alt=''/> <figcaption>Historical Photos and so much more!</figcaption>
            </figure></li>
        <li><div class="image">

            <img src="https://placehold.it/150x150" alt="" />
            
            <p>Historical Photos</p>
      
      </div></li>
        <li></li>
        <li></li>
    </ul>
</div>