<div class="index-content">
    <div class="container featured-collections-cards-wrap">
            <a href="/sub-pages/archives.html">
                <div class="col-lg-4 ">
                    <div class="card">
                        <img src="../img/childrens books 1.jpg">
                        <h4>Heritage Archives</h4>
                        <p style="font-size: 16px">Collecting, preserving, and providing access to the history of Rocky Mountain College and its antecedent institutions. </p>
                        <a href="https://www.rocky.edu/academics/library/heritage-archives.html" class="blue-button">Explore the Archives</a>
                    </div>
                </div>
            </a>
            <a href="/sub-pages/map-room.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="https://www.rocky.edu/sites/default/files/MT%20topo%20map.jpg">
                        <h4>The Map Room</h4>
                        <p style="font-size: 16px">Our map collection features hundreds of maps! Many of them are regional or historical. Come and explore!</p>
                        <a href="https://www.rocky.edu/academics/library/library-collections/map-room.html" class="blue-button">Learn More</a>
                    </div>
                </div>
            </a>
            <a href="/sub-pages/equestrian-collection.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="https://www.rocky.edu/sites/default/files/programs-equestrian-03_0.jpg">
                        <h4>Equestrian Collection</h4>
                        <p style="font-size: 16px">Resources supporting Rocky's Equestrian program and horse lovers throughout the Billings region.</p>
                        <a href="https://www.rocky.edu/academics/library/library-collections/equestrian-collection.html" class="blue-button">View the Collection</a>
                    </div>
                </div>
            </a>
      
    </div>
    
</div>