<div class="index-content">
    <div class="container featured-collections-cards-wrap">
            <a href="/sub-pages/archives.html">
                <div class="col-lg-4 ">
                    <div class="card">
                        <img src="/img/131206_RMC_G0022826.jpg">
                        <h4>Heritage Archives</h4>
                        <p>Collecting, preserving, and providing access to the history of Rocky Mountain College and its antecedent institutions. </p>
                        <a href="/sub-pages/archives.html" class="blue-button">Explore the Archives</a>
                    </div>
                </div>
            </a>
            <a href="/sub-pages/map-room.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img/MT topo map.jpg">
                        <h4>The Map Room</h4>
                        <p>Our map collection features hundreds of maps! Many of them are regional or historical. Come and explore!</p>
                        <a href="/sub-pages/map-room.html" class="blue-button">Learn More</a>
                    </div>
                </div>
            </a>
            <a href="/sub-pages/equestrian-collection.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img/programs-equestrian-03.jpg">
                        <h4>Equestrian Collection</h4>
                        <p>Resources supporting Rocky's Equestrian program and horse lovers throughout the Billings region.</p>
                        <a href="/sub-pages/equestrian-collection.html" class="blue-button">View the Collection</a>
                    </div>
                </div>
            </a>
            <!-- <div id="more-collections-enticement">
                <a class="new-books-text" href="#">Explore all collections ></a>
            </div> -->
    </div>
    
</div>