<div class=" info-pak-primo-square-vertical-tri">
    <div class="col-xs-12  top-pak  ">
        <div class="bg-barelywhite center">
            <h3 class="invert">
                Power Search
            </h3>
            <div class="info-pak-quotes animated slow delay-p5s fadeIn info-pak-subtitle"><span class="info-pak-subtitle">Book collections throughout Montana and
                    thousands of journal
                    articles. Start here! </span></div>
        </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 flextasm">
            <div class="info-pak-quotes animated slow delay-p5s fadeIn"><span>Print collections throughout Montana and thousands of journal
                    articles. A great first step on your research journey. </span></div>
        </div> -->
    <div class="col-xs-12 flextasm" id="primo-pak-searchwrap">
        <div class="row searchFilter">
            <div class="col-sm-12">

<!-- 
                <div class="col-sm-4"> <label class="sr-only" for="search_profile">Where would you like to
                        search:</label>
                    <!-- <select id="search_profile" name="tab">
                        <option selected="selected" value="Everything">Everything</option>
                        <option value="LibraryCatalog">Books &amp; eBooks</option>
                        <option value="CentralIndex">Scholarly Articles</option>
                        <option value="CentralIndex">Magazines &amp; Newspapers</option>
                        <option value="MediaColl">Films &amp; Media</option>
                        <option value="CourseReserves">Course Reserves</option>
                        
                    </select>
              
                </div> -->
                <div class="col-sm-12">
                    <form role="search" style="margin-top: -.44rem">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder=" " id="1549903767743" name="CatalogSearch"
                                type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default search_link1549903767743" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $("button.search_link1549903767743").on("click",function1549903767743);
                            function function1549903767743(){
                            var target = "https://rocky-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=01TRAILS_ROCKY&institution=01TRAILS_ROCKY&tab=default_tab&indx=1&bulkSize=10&srt=relevance&sortField=default&search_scope=01TRAILS_ROCKY&query=any,contains,"+document.getElementById('1549903767743').value;
                            window.open(target,'_blank');
                            }
                            </script>
                    </form>
                    <div id="adv-search-link">
                        <a href="">Advanced Search</a>
                    </div>
                    <!-- <div>
                        <form>
                            <fieldset>
                               
                                    <label for="1549903767743">Keywords: </label>
                                    
                                    <input type="text" id="1549903767743"><a class="search_link1549903767743"><button>Search</button></a>
                        <script type="text/javascript">
                        $("a.search_link1549903767743").on("click",function1549903767743);
                        function function1549903767743(){
                        var target = "https://rocky-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=01TRAILS_ROCKY&institution=01TRAILS_ROCKY&tab=default_tab&indx=1&bulkSize=10&srt=relevance&sortField=default&search_scope=01TRAILS_ROCKY&query=any,contains,"+document.getElementById('1549903767743').value;
                        window.open(target,'_blank');
                        }
                        </script>
                            </fieldset>
                        </form>
                    </div> -->
                </div>

                <!-- <div class="input-group">
                    <input id="table_filter" type="text" size="30" class="form-control" aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="label-icon">Everything</span>
                            <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="category_filters">
                                <li>
                                    <input data-label="All" id="all" value="" name="radios" type="radio"><label class="  category-label"
                                        for="all">Everything</label>
                                </li>
                                <li>
                                    <input data-label="All" id="all" value="" name="radios" type="radio"><label class="  category-label"
                                        for="all">Books</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Design" value="Design"><label class="category-label"
                                        for="Design">Journal Articles</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label class="category-label"
                                        for="Marketing">Magazines &amp; Newspapers</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Programming" value="Programming"><label class="category-label"
                                        for="Programming">DVDs</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Sales" value="Sales"><label class="category-label"
                                        for="Sales">Course Reserves</label>
                                </li>

                            </ul>
                        </div>
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search"> <i class="fas fa-search"></i>
                            <span class="label-icon">Search</span></button>
                    </div>
                </div> -->
            </div>
        </div>

    </div>




</div>
