<!-- this one has the broken responsiveness because of the display:flex in my css -->
    <div class="row">
            <div class="col-lg-6 info-pak-square">
                <div class="row">
                    <div class="col-lg-6"><h3 class="invert">
                            Research Databases
                        </h3></div>
                    <div class="col-lg-6"><i class="fas fa-quote-left"></i><span>80+ powerful tools for
                            finding
                            scholarly articles, newspapers, magazines, and eBooks. <br><span class="italics">Supercharge your
                                research!</span></span></div>
                </div>
                <div class="row">
                    <div class="col-lg-6"> <ul id="databases-ul">
                            <li><button>Browse A to Z</button></li>
        
                            <li><select>
                                    <option value="By subject">By Subject</option>
                                </select></li>
                        </ul></div>
                    <div class="col-lg-6 center"><div id="featured-title">Featured</div> <span id="db-feature-title">Proquest <i class="fas fa-info-circle"></i></span></div>
                </div>
            </div>
        </div>