 

<!-- <div class="row"> -->
  
    <div class="col-xs-12 col-lg-6 info-pak-primo-long">
        <div class="col-xs-12 col-sm-6 flextasm">
            <h3 class="invert">
                Power Search
            </h3>
        </div>
        <div class="col-xs-12 col-sm-6 flextasm">
            <div class="info-pak-quotes animated slow delay-p5s fadeIn"><i class="fas fa-quote-left"></i><span>Print collections throughout Montana and thousands of journal
                    articles. A great first step on your research journey. </span></div>
        </div>
        <div class="col-xs-12 flextasm">
            <div class="row searchFilter" >
                <div class="col-sm-12" >
                 <div class="input-group" >
                  <input id="table_filter" type="text" size="30" class="form-control" aria-label="Text input with segmented button dropdown" >
                  <div class="input-group-btn" >
                   <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Everything</span> <span class="caret" >&nbsp;</span></button>
                   <div class="dropdown-menu dropdown-menu-right" >
                      <ul class="category_filters" >
                       <li >
                        <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
                       </li>
                       <li >
                        <input type="radio" name="radios" id="Design" value="Design" ><label class="category-label" for="Design" >Design</label>
                       </li>
                       <li >
                        <input type="radio" name="radios" id="Marketing" value="Marketing" ><label class="category-label" for="Marketing" >Marketing</label>
                       </li>
                       <li >
                        <input type="radio" name="radios" id="Programming" value="Programming" ><label class="category-label" for="Programming" >Programming</label>
                       </li>
                       <li >
                        <input type="radio" name="radios" id="Sales" value="Sales" ><label class="category-label" for="Sales" >Sales</label>
                       </li>
                       <li >
                        <input type="radio" name="radios" id="Support" value="Support" ><label class="category-label" for="Support" >Support</label>
                       </li>
                      </ul>
                   </div>
                   <button id="searchBtn" type="button" class="btn btn-secondary btn-search" >   <i class="fas fa-search"></i> <span class="label-icon" >Search</span></button>
                  </div>
                 </div>
                </div>
             </div>
<!--             
                <form action="" method="GET"> 
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="input-group">
                        
                          <input type="text" class="form-control" size="30" placeholder="Search" id="txtSearch"/>
                        
                          <div class="input-group-btn">
                             
                            <button class="btn btn-primary" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        
                        </div>
                        
                      </div>
                      <div class="col-xs-6">
                        
                      </div>
                    </div>
                  </form> -->
        </div>
 
    </div>
<!-- </div> -->
 