<!-- <div class="row"> -->
<div class="col-xs-12 col-lg-8  info-pak-cheatsheets">
    <div class="col-xs-12 col-sm-6 flextasm">
        <h3 class="invert">
            Library Cheatsheets
        </h3>
    </div>
    <div class="col-xs-12 col-sm-6 flextasm">
        <div><i class="fas fa-quote-left"></i><span>Like a librarian in your pocket. Get your footing with research in
                your classes. <br>
                <!-- <span class="italics">Supercharge your
        research!</span> --></span></div>
    </div>
    <div class="col-xs-12 flextasm">
        <ul id="cheatsheets-ul">
            
            <li> <select style="width:300px;">
                 
                <option value="Get Started">Select</option>
                </select></li>
        </ul>
    </div>
 
</div>
<!-- </div> -->