<!-- <div class="row"> -->
<div class=" info-pak-square-all-vertical">
    <div class="col-xs-12 col-sm-12 top-pak ">
        <div class="bg-barelywhite"><h3 class="invert">
        Research Databases
        </h3>
        <div class="animated slow delay-p5s fadeIn info-pak-subtitle">80+ powerful tools for
        finding
        scholarly articles, newspapers, magazines, and eBooks.</div>
        </div></div>
    <!-- <div class="col-xs-12 col-sm-6 flextasm">
        <div><span>80+ powerful tools for
                finding
                scholarly articles, newspapers, magazines, and eBooks. <br>
                </span></div>
    </div> -->
    <div class="col-xs-12   flexxy side-pak">
        <ul id="databases-ul">
            <li><button>Browse A to Z</button></li>

            <li><select>
                    <option value="By subject">By Subject</option>
                </select></li>
        </ul>
        <div id="db-featured">
            <div id="featured-title">Featured</div> <span id="db-feature-title">Communications and Mass Media
                Collection <span class="tooltip-toggle" aria-label="This is the text of the tooltip which will be the database description"><i class="fas fa-info-circle"></i></span></span>
        </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 side-pak flextasm">
        <div>
            <div id="featured-title">Featured</div> <span id="db-feature-title">Communications and Mass Media
                Collection <i class="fas fa-info-circle"></i></span>
        </div>
    </div> -->
</div>
<!-- </div> -->