<!-- <div class="row"> -->
<div class="col-xs-12 col-lg-6  info-pak-square-3">
    <div class="col-xs-12 col-sm-12 top-pak">
        <h3 class="invert">
            Research Databases
        </h3>
        <div>80+ powerful tools for
            finding
            scholarly articles, newspapers, magazines, and eBooks.</div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 flextasm">
        <div><span>80+ powerful tools for
                finding
                scholarly articles, newspapers, magazines, and eBooks. <br>
                </span></div>
    </div> -->
    <div class="col-xs-12 col-sm-6 flextasm side-pak">
        <ul id="databases-ul">
            <li><button>Browse A to Z</button></li>

            <li><select>
                    <option value="By subject">By Subject</option>
                </select></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 side-pak flextasm">
        <div>
            <div id="featured-title">Featured</div> <span id="db-feature-title">Communications and Mass Media
                Collection <i class="fas fa-info-circle"></i></span>
        </div>
    </div>
</div>
<!-- </div> -->