 
<div class=" info-pak-square-all-vertical">
    <div class="col-xs-12 col-sm-12 top-pak ">
        <div class="bg-barelywhite"><h3 class="invert">
        Research Databases
        </h3>
        <div class="animated slow delay-p5s fadeIn info-pak-subtitle">80+ powerful tools for
        finding
        scholarly articles, newspapers, magazines, and eBooks.</div>
        </div></div>
    
    <div class="col-xs-12   flexxy side-pak">
        <ul id="databases-ul">
            <li class="databases-browse-link"><a href="https://www.rocky.edu/academics/library/research-databases" style="color: inherit">Browse A to Z</a></li>

            <li>{%include browse-subject-select.html%}</li>
        </ul>
        <div id="db-featured">
            <div id="featured-title">FEATURED</div> <span id="db-feature-title"><a href="http://ezproxy.rocky.edu:2048/login?url=http://find.galegroup.com/menu/start?userGroupName=mtlib_a_rocky&prod=PPCM" style="color:inherit;"
                >Communications and Mass Media
            Collection</a> 
        </span>
        </div>
    </div>
    
</div>
 