<div class=" info-pak-primo-square-vertical">
    <div class="col-xs-12  top-pak  ">
        <div class="bg-barelywhite center">
            <h3 class="invert">
                Power Search
            </h3>
            <div class="info-pak-quotes animated slow delay-p5s fadeIn"><span>Book collections throughout Montana and
                    thousands of journal
                    articles. Start here! </span></div>
        </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 flextasm">
            <div class="info-pak-quotes animated slow delay-p5s fadeIn"><span>Print collections throughout Montana and thousands of journal
                    articles. A great first step on your research journey. </span></div>
        </div> -->
    <div class="col-xs-12 flextasm" id="primo-pak-searchwrap">
        <div class="row searchFilter">
            <div class="col-sm-12">


                <div class="col-sm-4"> <label class="sr-only" for="search_profile">Where would you like to
                        search:</label>
                    <select id="search_profile" name="tab">
                        <option selected="selected" value="Everything">Everything</option>
                        <option value="LibraryCatalog">Books &amp; eBooks</option>
                        <option value="CentralIndex">Scholarly Articles</option>
                        <option value="CentralIndex">Magazines &amp; Newspapers</option>
                        <option value="MediaColl">Films &amp; Media</option>
                        <option value="CourseReserves">Course Reserves</option>
                        <!-- <option value="Music">Music</option> -->
                        <!-- <option value="ArchivesSpecialColl">Archives &amp; Special Collections</option> -->
                        <!-- <option value="Digital_Reposetory">AU Digital Research Archive</option> -->
                    </select>
                    <!-- <p style="margin-top: 5px; margin-bottom: 0;display: flex;align-items: center;"><a href="https://wrlc-amu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_AMU:prod&amp;lang=en&amp;sortby=rank"><em
                                class="icon ion-information-circled ion-fw"><img src="/img/help-circular-button-of-interface-with-question-mark.svg"
                                    alt="" class="question-svg"><span class="sr-only">Help Icon</span></em>What is
                            this? </a></p> -->
                </div>
                <div class="col-sm-8">
                    <form role="search">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder=" " name="srch-term" id="srch-term"
                                type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <div id="adv-search-link">
                        <a href="">Advanced Search</a>
                    </div>
                </div>

                <!-- <div class="input-group">
                    <input id="table_filter" type="text" size="30" class="form-control" aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="label-icon">Everything</span>
                            <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="category_filters">
                                <li>
                                    <input data-label="All" id="all" value="" name="radios" type="radio"><label class="  category-label"
                                        for="all">Everything</label>
                                </li>
                                <li>
                                    <input data-label="All" id="all" value="" name="radios" type="radio"><label class="  category-label"
                                        for="all">Books</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Design" value="Design"><label class="category-label"
                                        for="Design">Journal Articles</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label class="category-label"
                                        for="Marketing">Magazines &amp; Newspapers</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Programming" value="Programming"><label class="category-label"
                                        for="Programming">DVDs</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Sales" value="Sales"><label class="category-label"
                                        for="Sales">Course Reserves</label>
                                </li>

                            </ul>
                        </div>
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search"> <i class="fas fa-search"></i>
                            <span class="label-icon">Search</span></button>
                    </div>
                </div> -->
            </div>
        </div>

    </div>




</div>

<div class="col-xs-12" style="padding:0px;">
    {%include research-help-greenlong.html%}</div>