<div id="library-help-2" class="fancy-border-container">
    <h3><i class="far fa-question-circle"></i> Get Help</h3>
     <ul class="nopadding">
         <li><i class="far fa-envelope"></i> <a style="text-decoration:none;color: inherit;" href="mailto:library@rocky.edu">library@rocky.edu</a></li>
         <li><i class="fas fa-phone"></i> 406-657-1087</i></li>
         <li><i class="far fa-grin"></i> In person</li>
         <li>A librarian is currently <span>available</span></li>
     </ul>
</div>