<div id="library-help-2-inline" class="">

    <div class="help-flex">
        <div>
            <h3><i class="far fa-question-circle"></i> Get Help</h3>
        </div>
        <div class="mt-5p"><i class="far fa-envelope"></i> <a style="text-decoration:none;color: inherit;" href="mailto:library@rocky.edu">library@rocky.edu</a></div><div>|</div>
        <div class="mt-5p"><i class="fas fa-phone"></i> 406-657-1087</div> <div>|</div>
        <div class="mt-5p"><i class="far fa-grin"></i> In person</div> 
    </div>


    <!-- 
    <div class="col-sm-12 col-lg-3 nosides" style="text-align:right;">
        <h3 ><i class="far fa-question-circle"></i> Get Help</h3>
    </div>
    <div class="col-sm-6 col-md-3 nosides"><i class="far fa-envelope"></i> <a style="text-decoration:none;color: inherit;"
            href="mailto:library@rocky.edu">library@rocky.edu</a></div>
    <div class="col-sm-6 col-md-3"><i class="fas fa-phone"></i> 406-657-1087</div>
    <div class="col-sm-6 col-md-3"><i class="far fa-grin"></i> In person</div> -->

    <!-- 
    <h3><i class="far fa-question-circle"></i> Get Help</h3>
     <span style="display:inline;"><ul class="nopadding">
     <li><i class="far fa-envelope"></i> <a style="text-decoration:none;color: inherit;" href="mailto:library@rocky.edu">library@rocky.edu</a></li>
     <li><i class="fas fa-phone"></i> 406-657-1087</li>
     <li><i class="far fa-grin"></i> In person</li>
     </ul></span> -->
</div>