 
<nav class="navbar navbar-default library-navbar">
    <div class="container-fluid">
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div id="library-nav-links"><ul class="nav navbar-nav">
        
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-chevron-right"></i></span> Research Tools
        </a>
        <ul class="dropdown-menu">
        <li><a href="https://rocky-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=01TRAILS_ROCKY&lang=en_US&fromRedirectFilter=true">Power Search</a></li>
        <li><a href="https://www.rocky.edu/academics/library/research-databases">Research Databases</a></li>
        <li><a href="https://www.rocky.edu/academics/library/citation-guides.html">Citation Guides &amp; Tools</a></li>
        <li><a href="http://journalfinder.wtcox.com/rocky/">Journal Finder</a></li>
        <li><a href="https://www.rocky.edu/academics/library/interlibrary-loan.html">Interlibrary Loan</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-chevron-right"></i></span> Special Collections
        </a>
        <ul class="dropdown-menu">
        <li><a href="https://www.rocky.edu/academics/library/course-reserves.html">Course Reserves</a></li>
        <li><a href="https://www.rocky.edu/academics/library/heritage-archives.html">Archives</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-collections/new-books.html">New Books</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-collections/popular-reading.html">Popular Reading</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-collections/map-room.html">The Map Room</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-collections/equestrian-collection.html">Equestrian Collection</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-collections/childrens-books.html">Children's Books</a></li>
        
        
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-chevron-right"></i></span> About
        </a>
        <ul class="dropdown-menu">
        <li><a href="https://www.rocky.edu/academics/library/library-hours.html">Library Hours</a></li>
        <li><a href="https://www.rocky.edu/academics/library/library-staff.html">Staff</a></li>
        <li><a href="https://www.rocky.edu/academics/library/about-library.html">About the Library</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-chevron-right"></i></span> Help
        </a>
        <ul class="dropdown-menu">
     
        <li><a href="https://www.rocky.edu/academics/library/contact-us.html">Contact Us</a></li>
        
        </ul>
        </li>
        </ul></div>
      
      </div><!-- /.navbar-collapse -->
  
    </div><!-- /.container-fluid -->
  </nav>