<div id="nav-2">
    <div id="library-nav-links">
        <ul>
            <li><i class="fas fa-chevron-right"></i><a href="">Research Tools</a></li>
            <li><i class="fas fa-chevron-right"></i><a href="">Special&nbsp;Collections</a></li>
            <li> <i class="fas fa-chevron-right"></i><a href="">Help</a></li>
            <li><i class="fas fa-chevron-right"></i><a href="">About</a></li>
        </ul>
    </div>
   {%include todays-hours-teensy-for-nav.html%}
    <!-- <div id="todays-hours-nav"><div>Today's Hours: 7:30am - 11pm</div></div> -->
 </div>