<!-- <div id="off-campus-databases-info-block">
    <p><a href="/sub-pages/offcampus-database-access.html"><i class="fas fa-info-circle"></i> Access our databases from <br>off-campus</a></a></p>
</div> -->
<div id="off-campus-databases-info-block">
    <li class=" get-help-head lil">
        <i class="fas fa-info-circle bold "></i> Off-Campus?
      </li>
    <p>You will be prompted to login. Use your Rocky username, which is your email address without "@rocky.edu".</p>
</div>
<!-- <div id="off-campus-databases-info-block">
    <p><i class="fas fa-info-circle"></i> You can access our databases from off-campus using your Rocky credentials (the same as for your email).</p>
</div> -->

