<div id="quick-links-greeny-new">
  <ul class="">
    <li class=" get-help-head">
      <i class="far fa-compass bold "></i> Quick links
    </li>
    <li class="lil "><a href="/sub-pages/interlibrary-loan.html">Interlibrary Loan</a></li>
    <li class="lil"><a href="/sub-pages/course-reserves.html"> Course Reserves</a></li>
    <li class="lil"><a href="/sub-pages/library-hours.html"> Library Hours</a></li>
    <li class="lil"><a href="/sub-pages/contact-us.html"> Contact Us</a></li>
    <li class="lil"><a href="/sub-pages/research-services.html">Research Services</a></li>
    <!-- <li class="lil"><a href=""> Library Policies</a></li> -->
    <!-- <li class="lil"><a href=""> Research Databases</a></li> -->

    <!-- <li><a href=""> Purchasing Requests</a></li> -->
    <!-- <li class=""><a href=""> Special Collections</a></li> -->
    <li class="lil"><a href="/sub-pages/citation-guides.html">Citation Guides</a></li>
    <li class="lil"><a href="/sub-pages/mission-and-vision.html""> About the library</a></li>
  </ul>
</div>
