<div id="quick-links-1">
    <h2>Quick Links</h2>
    <ul>
        <li style="margin-top:5px;"><a href="">Interlibrary Loan</a></li>
        <li><a href="">Journal Search</a></li>
        <li><a href="">Course Reserves</a></li>
        <li><a href="">Citation Guides</a></li>
        <li><a href="">Heritage Archives</a></li>
        <li><a href="">Library Policies</a></li>
        <li><a href="">Library Purchasing Requests</a></li>
        <li><a href="">About the library</a></li>
        
        
       
    </ul>
</div>