<div id="quick-links-greeny-new">
  <ul class="">
    <li class=" get-help-head">
      <img src="https://www.rocky.edu/sites/default/files/compass1.png" class="iwishiwasanicon" style="width:16px;height:16px;margin-bottom:1px"alt="">
      Quick links
    </li>
    <li class="lil "><a href="https://www.rocky.edu/academics/library/interlibrary-loan">Interlibrary Loan</a></li>
    <li class="lil"><a href="https://www.rocky.edu/academics/library/course-reserves"> Course Reserves</a></li>
    <li class="lil"><a href="https://www.rocky.edu/academics/library/library-hours"> Library Hours</a></li>
    <li class="lil"><a href="https://www.rocky.edu/academics/library/research-services">Research Services</a></li>
    <li class="lil"><a href="https://www.rocky.edu/academics/library/citation-guides">Citation Guides</a></li>
    <!-- <li class="lil"><a href="#">Library Cheatsheets</a></li> -->

    <li class="lil"><a href="https://www.rocky.edu/academics/library/contact-library"> Contact Us</a></li>
    
    <li class="lil"><a href="https://www.rocky.edu/academics/library/about-library""> About the library</a></li>
  </ul>
</div>
