<!-- <div id="quick-links-2"><h3><i class="fas fa-external-link-alt"  ></i> Quick links</h3>
<ul class="nopadding" >
<li><a href=""><i class="far fa-compass "></i> Interlibrary Loan</a></li>
<li><a href=""><i class="far fa-compass "></i> Journal Search</a></li>
<li><a href=""><i class="far fa-compass "></i> Course Reserves</a></li>
<li><a href=""><i class="far fa-compass "></i> Citation Guides</a></li>
<li><a href=""><i class="far fa-compass "></i> Heritage Archives</a></li>

<li><a href=""><i class="far fa-compass "></i> Purchasing Requests</a></li>
<li><a href=""><i class="far fa-compass "></i> Hours</a></li>
<li><a href=""><i class="far fa-compass "></i> About the library</a></li>
</ul></div> -->
<div id="quick-links-3">
    <h3><i class="fas fa-external-link-alt"></i> Quick links</h3>
    <div style="float:left;margin-right:1.5rem;">
        <ul class="" >
            <li><a href=""><i class="far fa-compass "></i> Contact Us</a></li>
            <li><a href=""><i class="far fa-compass "></i> Library Hours</a></li>
            <li><a href=""><i class="far fa-compass"></i> Library Policies</a></li>
            <li><a href=""><i class="far fa-compass "></i> Purchasing Requests</a></li>
            <li><a href=""><i class="far fa-compass "></i> Library Staff</a></li>
            <li><a href=""><i class="far fa-compass "></i> About the library</a></li>
        </ul>
    </div>
    <ul class=""  >
        <li><a href=""><i class="far fa-compass "></i> Research Databases</a></li>
        <li><a href=""><i class="far fa-compass "></i> Interlibrary Loan</a></li>
        <li><a href=""><i class="far fa-compass "></i> Journal Search</a></li>
        <li><a href=""><i class="far fa-compass "></i> Course Reserves</a></li>
        <li><a href=""><i class="far fa-compass "></i> Citation Guides</a></li>
        <li><a href=""><i class="far fa-compass "></i> Heritage Archives</a></li>


    </ul>
 
</div>