<div id="quick-links-greeny">
        <div class="bold" style="float:left;"><i class="far fa-compass "></i> Quick links</div> 
        
            <ul class="" style="text-align:right;float:right;">
                <li><a href=""> Contact Us</a></li>
                <li><a href=""> Library Hours</a></li>
                <li><a href=""> Library Policies</a></li>
                <!-- <li><a href=""> Research Databases</a></li> -->
                <li><a href=""> Course Reserves</a></li>
                <!-- <li><a href=""> Purchasing Requests</a></li> -->
                <li><a href=""> Library Staff</a></li>
                <li><a href=""> About the library</a></li>
            </ul>
        
     
    </div>