<div id="quick-links-greeny-new">
   
        
            <ul class="" >
                <li class="bold get-help-head"><i class="far fa-compass "></i> Quick links:</li>
                <li class=" "><a href="">Interlibrary Loan</a></li>
                <li class=""><a href=""> Course Reserves</a></li>
                 <li class=""><a href=""> Library Hours</a></li>
                <li class=""><a href=""> Contact Us</a></li>
               <li class=""><a href="">Research Services</a></li>
                <!-- <li class="lil"><a href=""> Library Policies</a></li> -->
                <!-- <li class="lil"><a href=""> Research Databases</a></li> -->
            
                <!-- <li><a href=""> Purchasing Requests</a></li> -->
                <li class=""><a href=""> Special Collections</a></li>
                <li class=""><a href=""> About the library</a></li>
            </ul>
        
     
    </div>