<div class="research-services-1">
    <div class="col-xs-12">
        <h2>Research Services</h2>
        <div class="row nopadding">
            <div class="col-xs-6 col-sm-3">
                <ul class="testing">
                    <li><a href="" class="btn">Research Databases</a></li>
                    <li><a href="" class="btn">Journal Search</a></li>
                    <li><a href="" class="btn">Interlibrary Loan</a></li>

                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ul class="testing">
                    <li><a href="" class="btn">Get Research Help</a></li>
                    <li><a href="" class="btn">Heritage Archives</a></li>
                    <li><a href="" class="btn">Citing Guides</a></li>
            </div>
            <div class="col-xs-12 col-md-6 ">
                 <!-- Slider main container -->
<div class="swiper-container ">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Research+Databases"></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Journal+Search"></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Interlibrary+Loan"></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Get+Research+Help"></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Heritage+Archives"></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://via.placeholder.com/540x225?text=Citing+Guides"></a></div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
            </div>
        </div>
    </div>

</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>

    <script>
        var mySwiper = new Swiper ('.swiper-container', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,
      
          // If we need pagination
          pagination: {
            el: '.swiper-pagination',
          },
      
          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
      
          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        })
        </script>