<div id="start-your-research-1" class="fancy-border-container">
    <h2>Start&nbsp;Your&nbsp;Research</h2>
<div class="row">
    <div class="col-sm-6">{%include power-search-1.html%}</div>
    <div class="col-sm-6" style="border-left: 1px solid black;"> <h3>Databases</h3></div>
    
</div>
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-sm-12 col-md-4 center"><h4 style="border-top:1px solid black; ">Interlibrary Loan</h4><p>Can't find something specific that you're looking for? Don't pay for it! Request it!</p></div>
    </div>

</div>