<div id="start-your-research-2" class="fancy-border-container">
    <h2>Start&nbsp;Your&nbsp;Research</h2>
    <div class="row">
        <div class="col-lg-12" style="background:#a49763;padding:2rem 0px;">
            <h3 style="background:green;padding:2rem 0px;display: inline;">Power Search: </h3><input type="text" placeholder="Millions of books..."
                    size="20"><button type="submit">></button>
        </div>
        <div class="col-lg-12" style="background: #82723e;">
            <h3>Databases:</h3>
        </div>
        <div class="col-lg-12"></div>
    </div>

</div>