<div id="todays-hours-block-3">

    <p>
        <h3 class="inline"><i class="far fa-clock "></i> Today's Hours:</h3><span class="todays-hours-actual-hours">7:30am
            - 11pm</span>
    </p>
    <!-- <div class="hours-3-container">
            <h3 class="inline nopadding"><i class="far fa-clock"></i> Today's Hours:</h3>
            <div id="todays-hours-actual-hours">7:30am - 11pm <br> <a href="#" id="todays-hours-details"> Details</a></div>
        </div> -->

    <!-- <div >
        <h3><i class="far fa-clock"></i> Today's Hours:</h3>
        <div id="todays-hours-actual-hours">7:30am - 11pm <br> <a href="#" id="todays-hours-details"> Details</a></div>
    </div>
    -->
</div>