
//new cards
.index-content a:hover{
    color:black;
    text-decoration:none;
  }
  .index-content{
    margin-bottom:20px;
    padding:10px 0px;
    .container{
        padding-left: 0px;
        .no-left {
            padding-left: 0px;
        }
    }
    
  }
  .featured-collections-cards-wrap .row{
    margin-top:20px;
  }
  .featured-collections-cards-wrap a{
    color: black;
  }
  .featured-collections-cards-wrap .card {
    background-color: #FFFFFF;
    padding: 0;
    // -webkit-border-radius: 4px;
    // -moz-border-radius: 4px;
    // border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 1rem;
  }
  .featured-collections-cards-wrap .card:hover{
    // box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
  }
  .featured-collections-cards-wrap .card img{
    width:100%;
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
    max-height: 19rem;
    
  }
  .featured-collections-cards-wrap .card h4{
    margin:20px;
    font-family: $sans-serif;color: #111;
  }
  .featured-collections-cards-wrap .card p{
    margin:20px;
    opacity: 0.65;
    font-size: 14px;
  }
  .featured-collections-cards-wrap .blue-button{
    width: 145px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: $palette-1;
    color: #ffffff;
    // border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
    font-family: $sans-serif;
  }
  .featured-collections-cards-wrap .blue-button:hover{
    background-color: #dadada;
    color: $palette-1;
    
  }
  @media (max-width: 768px) {
  
    .index-content .col-lg-4 {
        margin-top: 20px;
    }
  }

  #more-collections-enticement {
      // margin-top: 24px;
      a {color: #00582c;font-family: $serif;margin-left: 1rem;}
      // // &:hover, &:focus{border-bottom: 3px solid #00582c;
      // //   color: inherit;}
      // }
      // font-size: 18px;
  }