#nav-2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: $green-wanna-transparent;
  background-image: $noise;
  #library-nav-links {
    align-self: center;
    font-family: $sans-serif;
    ul{display: flex;flex-wrap: wrap;}
    ul li {
      font-size: 1.8rem;
      // display: inline;
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;
      padding: 1rem;
      padding: 1rem;
      height: 46px;
      .fa-chevron-right {
        font-size: 1.2rem;
        color: $brown-homepagebig;
        margin-right: 3px;
        margin-top: 7px;
      }
      :hover,
      :focus {
        border-bottom: 3px solid $green_logo;
        color: inherit;
      }
      a {
        color: #111;
        // font-weight: 700;

        text-transform: uppercase; 
      }
    }
  }
}

#hours-teensy-for-nav {
  display: flex;
align-items: center;
justify-content: center;
  background-image: $noise;
  background-color: rgba($color: #396847, $alpha: 0.1);
  // margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  // width: 28rem;
  // float: right;
  #hours-2,
  #hours-1 {
    font-family: $sans-serif;
    color:#111;
  }
  #hours-1 {
    font-weight: bold;
  }
  .fa-clock {color: #111;}
}
