$green_logo: #00582c;
$green-lighter:#2d5f34;
$green-lighter-2:#396847;
$brown_logo_dark:  #82723e;
$brown_logo_light: #a49763;
$brown_alt-1: #a69061;
$brown_alt-2: #baab80;
$brown-homepagebig: #905836;
$green-homepagebig:#528d4b;
$yellow-bigtext: #eee974;
$serif:"Roboto Condensed", sans-serif;
