.inactive-az{display:none!important;}
#course-reserve-az-links li{display: inline; font-size: 16px;padding: 0 1rem;
}
#course-reserve-az-links li a:hover, #course-reserve-az-links li a:focus{ text-decoration: underline;}
.alphabet-li {margin-top:5rem!important;}
.course-reserve-instructor {margin-top:4rem!important;}
.course-reserve-class-name{margin:2rem 0px 1rem!important}
.course-reserve-item-li{margin-left:2rem!important;}